
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$mdc-theme-primary: #1a1a1a;

// Material Components
@import "~@material/elevation/mdc-elevation";
@import "~@material/button/mdc-button";
@import "~@material/card/mdc-card";
@import "~@material/linear-progress/mdc-linear-progress";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.side-vote-bargraph-place-holder {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-card.selected {
  border: 10px solid #e4b66eb5;
  //border-radius: inherit;
}

#sideMenuCollapser {
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px;
  transition: box-shadow 0.2s ;
}

#sideMenuCollapser:hover {
  @include mdc-elevation(4);
}

#sideMenuCollapser.off {
  z-index: 1000;
  top: 10px;
  right: -50px;
  transition: top 0.5s linear .5s, right 0.5s linear .5s, box-shadow 0.2s ;
}

#_sidebar{
  transition: all 1s;
}

#_mainCont{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#_mainCont.full {
  margin-left: 4% !important;
}


.width-0 {
  width: 0!important;
}


//Applications page
.applicant-dets-titles {
  color: #1a1a1a !important;
}

.stat-card {
  @include mdc-elevation(4);
  margin-bottom: 30px;

  .card-title {
    letter-spacing: 0;
    background-color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.stat-card-column {
  //overflow-y: scroll;
}

.h-fill-screen {
  height: calc(100vh - (88.88px + 16px));
}

.grid {
  position: relative;
}
.item {
  position: absolute;
  display: block;
  margin: 20px;
}

.top-menu-btn {
  min-width: 10px;
}


//canvas {
//  width: 100px!important;
//  height: 100px!important;
//}