
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$mdc-theme-primary: #1a1a1a;

// Material Components
@import "~@material/elevation/mdc-elevation";
@import "~@material/button/mdc-button";
@import "~@material/card/mdc-card";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.side-vote-bargraph-place-holder {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-card.selected {
  border: 10px solid #e4b66eb5;
  //border-radius: inherit;
}



//Applications page
.applicant-dets-titles {
  color: #1a1a1a !important;
}

.stat-card {
  @include mdc-elevation(4);
  margin-bottom: 30px;

  .card-title {
    letter-spacing: 0;
    background-color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.stat-card-column {
  //overflow-y: scroll;
}

.h-fill-screen {
  height: calc(100vh - (88.88px + 16px));
}

.grid {
  position: relative;
}
.item {
  position: absolute;
  display: block;
  margin: 20px;
}


/* Import Fonts & All CSS */
@import '/public/css/default-assets/hkgrotesk-fonts.css';
@import '/public/css/bootstrap.min.css';
@import '/public/css/animate.css';
@import '/public/css/default-assets/classy-nav.css';
@import '/public/css/owl.carousel.min.css';
@import '/public/css/magnific-popup.css';
@import '/public/css/font-awesome.min.css';
@import '/public/css/default-assets/slick.css';
@import '/public/css/style.css';

// **************

// Utilities
// **************
@import "utilities/fonts";
@import "utilities/variables";
@import "utilities/responsive";
@import "utilities/color";

// *************

// Mixins
// *************

@import "mixins/flex";
@import "mixins/miscellaneous";

// **************

// Stylesheet
// *************
@import "reboot";
@import "spacing";
@import "preloader";
@import "heading";
@import "backtotop";
@import "buttons";
@import "header";
@import "hero";
@import "gallery";
@import "testimonial";
@import "model";
@import "about";
@import "breadcrumb";
@import "blog";
@import "cta";
@import "team";
@import "widget";
@import "footer";
@import "contact";

//canvas {
//  width: 100px!important;
//  height: 100px!important;
//}